@import "tailwindcss";

@theme {
  --color-dark-main: #151515;
  --color-darkCard: #202022;
  --color-lightGrey: #828282;
  --font-sans: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark-main);
  color: #fff;
}

::selection {
  background-color: #ffffff;
  color: #151515;
}

.container {
  width: 90%;
  margin-inline: auto;
  max-width: 1200px;
}

.text-heading {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}
